<table class="table table-striped">

  <tbody>
    <% @questions.each do |question| %>
      <tr>
        <td style="font-size:17px; line-height:2; width: 99%"><%= question.question %></td>
        <td><%= link_to 'Show', question, class: "btn btn-primary", style: "width:85px" %></td>
        <td><%= link_to question.status, lock_question_path(question.id), class: "btn btn-primary", style: "width:85px"  %></td>
      </tr>
    <% end %>
  </tbody>
</table>

