<p id="notice"><%= notice %></p>

<h1 class="text-center">Submissions</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Transcription</th>
      <th>Submission</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @submissions.each do |submission| %>
		<%= render submission %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Submission', new_submission_path %>
