<% content_for :question do %>  
  <select id='question' onchange="window.location.href=this.value;">
    <option value='/'>Select Thy Ponderation</option>
    <% for question in @questions %>
      <option value="/<%= question.id %>/"><%= question.question %></option>
   <% end %>                          
  </select>
<% end %>